#footer{
    width: auto;
    height: 130px;
    background-color: #3888A3;
}

#logoWrap{
    width: 150px;
    height: 40px;
    margin-left: 117px;
    margin-bottom: 54px;
    margin-top: 57px;
}

#footerText{
    color: white;
    font-family: Montserrat;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 54px;
    margin-top: 57px;
}

#redesContainer{
    width: 200px;
    height: auto;
    margin-bottom: 54px;
    margin-top: 57px;
    margin-right: 115px;
}

#redesFooter{    
    opacity: 20%;
}

#redesFooter:hover{
    opacity: 100%;
}

#redesWrap{
    margin-left: 30px;
}