#footer{
    width: auto;
    height: 130px;
    background-color: #3888A3;
    display: flex;
    justify-content: space-around;
}

#logoWrap{
    margin-left: 117px;
    margin-bottom: 54px;
    margin-top: 57px;
}

#footerText{
    color: white;
    font-size: 14px;
    font-weight: 700px bold;
    font-family: Montserrat;
    margin-left: 309px;
    margin-bottom: 54px;
    margin-top: 57px;
    margin-right: 221px;
}

#redesContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 54px;
    margin-top: 57px;
}

#redesFooter{    
    opacity: 20%;
}

#redesFooter:hover{
    opacity: 100%;
}

#redesWrap{
    box-sizing: content-box;
    margin-left: 30px;
}