#titulo{
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700px bold;
    margin-top: 125px;
    color: #9FC248;
    line-height: 86px;
}

#subtitulo{
    font-size: 16px;
    font-family: DM Sans;
    font-weight: 400px;
    color: #151439;
    opacity: 40%;
    margin-top: 25px;
}

#etiqueta{
    margin-top: 30px;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 700px bold;
    opacity: 80%;
}

.inputCorreo{
    width: 370px;
    height: 50px;
    border-radius: 100px;
    border: none;
    background-color:#EBEAED;
    color: #151439;
    opacity: 40%;
}

.inputNombre{
    width: 270px;
    height: 50px;
    border-radius: 100px;
    border: none;
    background-color:#EBEAED;
    color: #151439;
    opacity: 40%;
    margin-bottom: 76px;
}

.textArea{
    width: 370px;
    height: 170px;
    border-radius: 10px;
    border: none;
    background-color: #EBEAED;
    color: #151439;
    resize: none;
    opacity: 40%;
}

#enviar{
    width: 90px;
    height: 50px;
    border-radius: 100px;
    border: none;
    background-color: #9FC248;
    color: white;
    margin-left: 20px;
}