#header{
    background-color: #3888A3;
}

#navText{
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    line-height: 26px;    
    margin-right: 50px;
    opacity: 50%;
}

#navText:hover{
    opacity: 100%
}